<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button>Default</ion-button>
  <ion-button (click)="registro()">Registristrese</ion-button>
  <ion-button href="/busqueda">Buscar usuario</ion-button>
<ion-button href="/intro">Ir a Intro</ion-button>
 <!-- Colors -->
<ion-button color="primary">Primary</ion-button> 
<ion-button color="secondary">Secondary</ion-button>
<ion-button color="tertiary">Tertiary</ion-button> 
<ion-button color="success">Success</ion-button>
<ion-button color="warning">Warning</ion-button> 
<ion-button color="danger">Danger</ion-button>
<ion-button color="light">Light</ion-button> 
<ion-button color="medium">Medium</ion-button>
<ion-button color="dark">Dark</ion-button>
 <!-- Round -->
<ion-button shape="round">Round Button</ion-button>
</ion-content>
