<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="Back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Formulario de Registro</h1>

<ion-input value="custom"></ion-input> 
<ion-input placeholder="ingrese su identificación"></ion-input> 
<ion-input type="number" value="333"></ion-input>

<ion-item>
  <ion-label>Defaul Label:</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Nombres y Apellidos
    :</ion-label>
  <ion-input></ion-input>
</ion-item>


</ion-content>
